header {
  height: 60px;
  align-items: center;
  display: flex;
  gap: 30px;

  .logo {
    margin-right: auto;
  }
}

form {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input,
  textarea {
    padding: 10px;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;

  .post {
    padding: 20px;
    border: 1px solid #999;
  }
}
