a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #eee;
  margin: 0;
}

header {
  height: 60px;
  align-items: center;
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 0 30px;

  .logo {
    margin-right: auto;
    font-size: 30px;
  }
}

form {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    padding: 9px;
  }

  input,
  textarea {
    padding: 10px;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 50px 30px;

  .post {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      font-weight: bold;
    }
  }
}
